@using BLL.ModelVM;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Your.Assembly.Name

@model List<EmployeeVM>

@{
    ViewData["Title"] = "DisplayEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Employees</h1>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Add Employee </a>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th> Name</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Join Date</th>
            <th>Department</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Salary</td>
                <td>@employee.phoneNum</td>
                <td>@employee.joinDate</td>
                <td>@employee.Department.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Password</td>
                
                <td class="dropdown">

                    <button class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-menu-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" asp-action="Details" asp-controller="Employee" asp-route-id="@employee.Id">Select</a></li>
                        <li><a class="dropdown-item" asp-action="Edit" asp-controller="Employee" asp-route-id="@employee.Id">Edit</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.Id">Delete</a></li> 
                    </ul>

                </td>
            </tr>
        }
    </tbody>
</table>

@section JS {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}